/* why choose us */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .card:hover .card-icon {
    animation: shake 0.5s;
  }
  
/* cards vdos */
.card-vdos{
    width: 200px ;
}
/* counter */
#counter {    
    background-color: #20032e;
    color: #fff;
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 100px 0;
}
#counter .count {
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
}
.count h4 {
    color: #fff;
	font-size: 16px;
	margin-top: 0;
}
#counter .count .fa {
    font-size: 40px;
    display: block;
    color: #fff;
}
#counter .number {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
/*  Pricing Section  */

#pricing {
    background: #f7f7f7;
}
.pricing-items {
    padding-top: 50px;
}
.pricing-item {
    background: #fff;
    position: relative;
    box-shadow: 0 0 9px 0 rgba(130, 121, 121, .2);
    padding: 50px 0px;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}
.pricing-item.active {
    top: -50px;
}
.price-list li {
    list-style: none;
    margin-bottom: 15px;
}

.price-list .price {
    font-size: 30px;
    font-weight: bold;
}
.pricing-item .ribbon {
    margin: -50px 0 20px;
    display: block;
    background-color: #20032e;
    padding: 15px 0 2px;
    opacity: 0.8;
    border-top-right-radius: 2em;
}
.pricing-item:hover .ribbon {
    background-color: #20032e;
	opacity: 1;
}
.pricing-item.active .ribbon {
    background-color: #20032e;
	opacity: 1;
}
.pricing-item .ribbon p {
    color: #fff;
    font-size: 22px;
    margin: 0 0 10px;
    font-weight: 600;
}
.pricing-item.active .price-list li, .pricing-item:hover .price-list li {
    color: #848181;;
}
ul.price-list {
    margin-bottom: 30px;
    padding: 0;
}
.btn-price {
    display: inline-block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 40px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
    border: 1px solid #848181;
    background-color: transparent;
    color: #848181;
}
.pricing-item:hover .btn-price,
.active .btn-price {
    border: 1px solid #20032e;
    background-color: #20032e;
    color: #fff;
}
.btn-price:focus {
    background-color: transparent;
    text-decoration: none;
}
@media only screen and (max-width: 767px) {
    .pricing-items {
        padding-top: 0;
    }
    .pricing-item.active {
        top: 20px;
        margin-bottom: 40px;
    }
}

/* about */
.about-img{
    height: 570px ;
    background-size: contain;
    background-position: center center;
    width: 100%;
}
.about-side-img{
    width: 100%;
    height: 300px;
    background-size: cover;
}
.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: 350px;
    height: 220px;
    background: #140231;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: #32a6ff
  }
  
  .notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #18181b;
    z-index: 2
  }
  
  .notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .notification:hover:after {
    transform: translateX(0.15rem)
  }
  
  .notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    /* font-size: 20p; */
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notititle {
    transform: translateX(0.15rem)
  }
  
  .notibody {
    color: #99999d;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notibody {
    transform: translateX(0.25rem)
  }
  
  .notiglow,
  .notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
  }
  
  .notiglow {
    z-index: 3;
  }
  
  .notiborderglow {
    z-index: 1;
  }
  
  .notification:hover .notiglow {
    opacity: 0.1
  }
  
  .notification:hover .notiborderglow {
    opacity: 0.1
  }
  
  .note {
    color: var(--color);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
  }


  /* course jsx */
  .banner-courses{
    height: 530px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .card-course {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2rem;
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 1.5rem;
  }
  
  .header-course {
    display: flex;
    flex-direction: column;
  }
  
  .title-course {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff
  }
  
  .price {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: #fff
  }
  
  .desc {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.625;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists {
    margin-bottom: 1.5rem;
    flex: 1 1 0%;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists .list {
    margin-bottom: 0.5rem;
    display: flex;
    margin-left: 0.5rem
  }
  
  .lists .list svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: rgba(167, 139, 250, 1);
  }
  
  .action {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: rgba(167, 139, 250, 1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: rgba(17, 24, 39, 1);
  }


/* blog jsx */
.banner-blog{
    height: 530px;
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.readmore-btn {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .readmore-btn {
    --primary-color: #111;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 15px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .readmore-btn p {
    margin: 0;
    position: relative;
    /* font-size: 20px; */
    color: var(--primary-color);
  }
  
  .readmore-btn::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .readmore-btn p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    /* content: "Subscribe"; */
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  .readmore-btn:hover::after {
    width: 100%;
  }
  
  .readmore-btn:hover p::before {
    width: 100%;
  }
  
  .readmore-btn:hover svg {
    transform: translateX(4px);
    /* color: var(--hovered-color); */
  }
  
  .readmore-btn svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }

  /* contact jsx */
 

/* footer jsx*/
.footer-container {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer-container .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container .row {
    display: flex;
    flex-wrap: wrap;
}

.footer-container .col-md-4 {
    flex: 1;
    max-width: 33.3333%;
    padding: 15px;
}

.footer-container ul {
    list-style-type: none;
    padding: 0;
}

.footer-container li {
    margin-bottom: 10px;
}

.copy-right {
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
}

.text-center {
    text-align: center;
}
/* social icon */
.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -40px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}

/* Responsive styling */
@media (max-width: 768px) {
    .footer-container .col-md-4 {
        max-width: 100%;
        flex: 100%;
    }
}