.mt-75{
  margin-top: 65px;
}
.caresol-img{
  height: 530px;
}
.carousel-container {
  position: relative;
}

.carousel-img {
  height: 530px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}

.carousel-caption h5 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 16px;
}
